<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/css/basic.css">
    <link rel="stylesheet" type="text/css" href="../public/css/common.css">
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
	<script type="text/javascript" src="../public/js/jquery.js"></script>
</head>

<body>
    <div id="top">
        <div class="topCenter">
            <p>
                <a href="#a">登录</a> | <a href="#a">注册</a>
            </p>
        </div>
    </div>
    <div id="header">
        <div class="logo">
            <img src="../public/img/index_icon_03.png" alt="">
        </div>
        <div class="headBottom">
            <p class="sponsor">主办单位: 中国作家出版集团</p>
            <span class="subheading">
                <img src="../public/img/index_icon_07.png" alt="">
            </span>
            <div class="searchMode">
                <input type="text">
                <button>搜索</button>
            </div>
        </div>
    </div>
    <div id="nav" class="mtop">
        <ul>
            <li class="onThis">首页</li>
            <li><a href="#a">诗坛动态</a>
            </li>
            <li><a href="#a">佳作直播</a>
            </li>
            <li><a href="#a">擂台比拼</a>
            </li>
            <li><a href="#a">诗空繁星</a>
            </li>
            <li><a href="#a">红粉诗人</a>
            </li>
            <li><a href="#a">诗社园地</a>
            </li>
            <li><a href="#a">互动纸媒</a>
            </li>
            <li><a href="#a">诗歌论坛</a>
            </li>
            <li><a href="#a">经典诗库</a>
            </li>
            <li><a href="#a">诗集展示</a>
            </li>
        </ul>
    </div>
    <div id="body">
        <div id="picShow"></div>
        <div class="bigMode mtop">
            <div class="bigModeHead">
                <h3>诗坛动态</h3>
                <a href="#a">更多&gt;&gt;</a>
            </div>
            <div class="bigModeBody">
                <div class="show"></div>
                <div class="poetryNews">
                    <ul>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                        <li><a href="#a">全国网络文学理论研讨会举行，三方对谈</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="bigMode mtop20">
            <div class="bigModeHead">
                <h3>佳作直播</h3>
                <a href="#a">更多&gt;&gt;</a>
            </div>
            <div class="bigModeBody">
                <div class="poetryLive">
                    <h4>现代诗</h4>
                    <ul>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                    </ul>
                </div>

                <div class="poetryLive left50">
                    <h4>古体诗</h4>
                    <ul>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
		
        <div class="bigMode mtop20">
            <div class="bigModeHead">
                <h3>擂台比拼</h3>
                <a href="#a">更多&gt;&gt;</a>
            </div>
            <div class="bigModeBody">
                <ul class="poetryType">
                    <li id='on'>反腐倡廉诗歌赛</li>
                    <li class="centerLi">西湖杯旅游诗词赛</li>
                    <li>中国梦我的梦”诗歌大奖赛</li>
                </ul>
                <div class='box mtop'>
                    <ul class=''>
                        <li>
                            <a href="＃a">1文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                    </ul>

                    <ul class='none'>
                        <li>
                            <a href="＃a">2文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                    </ul>

                    <ul class='none'>
                        <li>
                            <a href="＃a">3文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                        <li>
                            <a href="＃a">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</a>
                            <span>－－作者《书名》</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
		<script type="text/javascript">
			function  poetryType(choseType) {
				poetryType.num = choseType;
				$('.box ul').addClass('none');
				$('.box ul').eq(poetryType.num).removeClass('none');
			}
			$('.poetryType li').click(function  () {
				$('.poetryType li').attr('id','')
				$(this).attr('id','on');
				poetryType($(this).index());
			})
		</script>
        <div class="bigMode mtop20">
            <div class="bigModeHead">
                <h3>诗情画意</h3>
                <a href="#a">更多&gt;&gt;</a>
            </div>
            <div class="bigModeBody">
            </div>
        </div>

        <div class="smallMode mtop20">
            <div class="smallModeHead">
                <h3>诗空繁星</h3>
                <p>
                    <a href="#a">诗坛名宿</a>
                    <a href="#a">诗坛新秀</a>
                </p>
            </div>
            <div class="smallModeBody mtop">
                <div class="poetryStar">
                    <a href="#a" class="starImg">
                        <img src="">
                    </a>
                    <dl>
                        <dt>罗孚</dt>
                        <dd>洛夫，1928年生于湖南衡阳，淡江大学英语系毕业，曾任教于东吴大学外语系。现聘任为北京师范大学、中国华侨大学、广西民族大学...</dd>
                    </dl>
                </div>
                <div class="starName mtop">
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                </div>
            </div>
        </div>

        <div class="smallMode mtop20 left30">
            <div class="smallModeHead">
                <h3>红粉诗人</h3>
                <p>
                    <a href="#a">诗坛名宿</a>
                    <a href="#a">诗坛新秀</a>
                </p>
            </div>
            <div class="smallModeBody mtop">
                <div class="poetryStar">
                    <a href="#a" class="starImg">
                        <img src="">
                    </a>
                    <dl>
                        <dt>罗孚</dt>
                        <dd>洛夫，1928年生于湖南衡阳，淡江大学英语系毕业，曾任教于东吴大学外语系。现聘任为北京师范大学、中国华侨大学、广西民族大学...</dd>
                    </dl>
                </div>
                <div class="starName mtop">
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                </div>
            </div>
        </div>
        <div class="smallMode mtop20">
            <div class="smallModeHead">
                <h3>诗歌园地</h3>
                <p>
                    <a href="#a">著名诗社</a>
                    <a href="#a">校园诗社</a>
                </p>
            </div>
            <div class="smallModeBody mtop">
                <div class="poetryStar">
                    <a href="#a" class="starImg">
                        <img src="">
                    </a>
                    <dl>
                        <dt>陶然诗社</dt>
                        <dd>社长：某人
                            <br>人数：50
                            <br>作品数：110
                            <br>星级：
                            <img src="../public/img/index_icon_19.png">
                            <img src="../public/img/index_icon_19.png">
                            <img src="../public/img/index_icon_19.png">
                            <img src="../public/img/index_icon_19.png">
                        </dd>
                    </dl>
                </div>
                <p class="poetryTxt">
                    陶然诗社是受驻地文联管理的文学团体，成立于2004年3月7日。其指导单位是枣庄市楹联研究所。诗社主要的研究、交流方向为诗词、诗歌、楹联、辞赋、小说、散文等，诗社定期举办诗词笔会，社员多次参加...
                </p>
                <div class="starName mtop">
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                </div>
            </div>
        </div>
        <div class="smallMode mtop20 left30">
            <div class="smallModeHead">
                <h3>会员园地</h3>
                <p>
                    <a href="#a">诗坛名宿</a>
                    <a href="#a">诗坛新秀</a>
                </p>
            </div>
            <div class="smallModeBody mtop ">
                <div class="poetryStar">
                    <a href="#a" class="starImg">
                        <img src="">
                    </a>
                    <dl>
                        <dt>罗孚</dt>
                        <dd>籍贯：福建漳州
                            <br>积分：2008（
                            <img src="../public/img/index_icon_15.png">200）
                            <br>作品数：65
                            <br>星级：
                            <img src="../public/img/index_icon_19.png">
                            <img src="../public/img/index_icon_19.png">
                            <img src="../public/img/index_icon_19.png">
                        </dd>
                    </dl>
                </div>
                <p class="poetryTxt">
                    陶然诗社是受驻地文联管理的文学团体，成立于2004年3月7日。其指导单位是枣庄市楹联研究所。诗社主要的研究、交流方向为诗词、诗歌、楹联、辞赋、小说、散文等，诗社定期举办诗词笔会，社员多次参加...
                </p>
                <div class="starName mtop">
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                    <a href="#a">人名</a>
                </div>
            </div>
        </div>
        <div class="enjoyPoetry mtop20">
            <div class="enjoyLeft">
                <ul>
                    <li><a href="#a">诗歌名</a>
                        <span>作者</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <span>作者</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <span>作者</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <span>作者</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <span>作者</span>
                    </li>
                </ul>
                <a href="#a" class="more">更多&gt;&gt;</a>
            </div>
            <div class="enjoyRight">
                <ul>
                    <li><a href="#a">诗歌名</a>
                        <span>作者</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <span>作者</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <span>作者</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <span>作者</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <span>作者</span>
                    </li>
                </ul>
                <a href="#a" class="more">更多&gt;&gt;</a>
            </div>
        </div>

        <div class="smallMode mtop20">
            <div class="smallModeHead">
                <h3>诗歌朗诵</h3>
                <a href="＃a" class="more">更多&gt;&gt;</a>
            </div>
            <div class="smallModeBody mtop">
                <ul class="reciteUl">
                    <li><a href="#a">诗歌名</a>
                        <p>播放：102次</p>
                        <span>作者名</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <p>播放：102次</p>
                        <span>作者名</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <p>播放：102次</p>
                        <span>作者名</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <p>播放：102次</p>
                        <span>作者名</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="smallMode mtop20 left30">
            <div class="smallModeHead">
                <h3>诗学传授</h3>
                <a href="＃a" class="more">更多&gt;&gt;</a>
            </div>
            <div class="smallModeBody mtop">
                <ul class="teachUl">
                    <li><a href="#a">诗歌名</a>
                        <p>播放：102次</p>
                        <span>作者名</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <p>播放：102次</p>
                        <span>作者名</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <p>播放：102次</p>
                        <span>作者名</span>
                    </li>
                    <li><a href="#a">诗歌名</a>
                        <p>播放：102次</p>
                        <span>作者名</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="bigMode pTop20">
            <div class="bigModeHead">
                <h3>诗集展示</h3>
                <a href="#a">更多&gt;&gt;</a>
            </div>
            <div class="bigModeBody">
                <div class='poemsBook right30'>
                    <a href="#a">
                        <img src="" alt="">
                    </a>
                    <p>诗集名</p>
                    <span>作者</span>
                </div>
                <div class='poemsBook right30'>
                    <a href="#a">
                        <img src="" alt="">
                    </a>
                    <p>诗集名</p>
                    <span>作者</span>
                </div>
                <div class='poemsBook right30'>
                    <a href="#a">
                        <img src="" alt="">
                    </a>
                    <p>诗集名</p>
                    <span>作者</span>
                </div>
                <div class='poemsBook right30'>
                    <a href="#a">
                        <img src="" alt="">
                    </a>
                    <p>诗集名</p>
                    <span>作者</span>
                </div>
                <div class='poemsBook right30'>
                    <a href="#a">
                        <img src="" alt="">
                    </a>
                    <p>诗集名</p>
                    <span>作者</span>
                </div>
                <div class='poemsBook '>
                    <a href="#a">
                        <img src="" alt="">
                    </a>
                    <p>诗集名</p>
                    <span>作者</span>
                </div>
            </div>
        </div>
        <div class="bigMode mtop20">
            <div class="bigModeHead">
                <h3>诗集展示</h3>
                <a href="#a">更多&gt;&gt;</a>
            </div>
            <div class="bigModeBody weibo">
                <a href="#a">xxx的新浪微博</a><a href="#a">xxx的新浪微博</a>
                <a href="#a">xxx的新浪微博</a><a href="#a">xxx的新浪微博</a>
                <a href="#a">xxx的新浪微博</a><a href="#a">xxx的新浪微博</a>
                <a href="#a">xxx的新浪微博</a><a href="#a">xxx的新浪微博</a>
                <a href="#a">xxx的新浪微博</a><a href="#a">xxx的新浪微博</a>
                <a href="#a">xxx的新浪微博</a><a href="#a">xxx的新浪微博</a> 
            </div>
        </div>
        <div class="bigMode mtop20">
            <div class="bigModeHead">
                <h3>合作单位</h3>
                <a href="#a">更多&gt;&gt;</a>
            </div>
            <div class="bigModeBody">

            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footMain">
            <div class="about">
                <dl>
                    <dt>中国诗歌网</dt>
                    <dd><a href="#a">关于我们</a>
                        <a href="#a">联系我们</a>
                        <a href="#a">广告服务</a>
                        <a href="#a">友情链接</a>
                        <a href="#a">免责声明</a>
                    </dd>
                </dl>
            </div>
            <div class="onfocuse">
            	<dl>
                    <dt>关于我们</dt>
                    <dd><a href="#a" class="weiboA">微&nbsp;&nbsp;博</a>
                        <a href="#a" class="weixinA mtop">微&nbsp;&nbsp;信</a>
                        
                    </dd>
                </dl>
            </div>
            <div class="app">
            	<dl>
                    <dt>客户端</dt>
                    <dd>
                    	<img src="" alt="">
                        <p>扫描下载客户端</p>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="copeRight">
        	<p>Copyright  2014-2015 中国诗歌网 版权所有  技术支持：江苏天天一百网络科技有限公司<br>
京ICP备88888888号</p>
        </div>
    </div>
</body>

</html>